@media(min-width:1300px){
  .navbar{
      height: 45px !important;
  }
  .navbar-branch{
      margin-right: 0px;
  }
}
.container-fluid a{
text-decoration: none;
}
.navbar{

  background-image: linear-gradient(120deg,#3498db,#8e44ad);
}
.form-control{
  width: auto;
}
.navbar-branch{
  color: white;  
}
.navbar li a {
  color: white !important;
}
.navbar li a:hover {
  color: black !important;
}
/* resposive nek */
@media (max-width: 992px){
  .carousel-caption {
    top: 20%;
  }
  .carousel-caption h2{
    font-size: 250%;
  }
  .carousel-caption h4{		
    font-size: 160%;		
  }
  .carousel-caption .btn{		
    font-size: 120%;		
  }
}
@media (max-width: 768px){	
  .carousel-caption {
    top: 20%;
  }
  .carousel-caption h2{
    font-size: 220%;
  }
  .carousel-caption h4{		
    font-size: 140%;
    padding-bottom: 0.2rem;
  }
  .carousel-caption .btn{		
    font-size: 95%;
    padding: 8px 14px;
  }
}
@media (max-width: 576px){
  .carousel-caption {
    top: 10%;
  }
  .carousel-caption h2{
    font-size: 150%;
  }
  .carousel-caption h4{		
    font-size: 110%;		
  }
  .carousel-caption .btn {		
    font-size: 90%;
    padding: 4px 8px;
  }
  .navbar-branch{
    margin-right: 0px !important;
  }	
}
.thong-tin-noi-bat h2{
  font-size: 38px;
  text-align: center;
  margin: 20px 0 20px;
  font-weight: 400;
}
.thong-tin-noi-bat h4{
  color: #757575;
  font-size: 20px;
  text-align: center;
}
/* chay chay */

.carousel-inner img {
  width: 100%;

}
#demo2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.option-wrapper{
  position: absolute;
  height: 70%;
  width: 70%;
  padding: 10px;
  z-index: 1;
}

.left-option-wrapper{
  float: left;
  display: flex;
  height: 100%;
  width: 50%;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
}
.right-option-wrapper{
  float: right;
  display: flex;
  height: 100%;
  width: 50%;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
}
.title-nek{
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size:xx-large;
  text-transform: uppercase;
  text-shadow: 5px 5px 15px #000;
  
}
.content-nek{
  word-break: break-word;
  text-align: center;
  white-space: pre-wrap;
}
.left-option-wrapper-content button{
  position: absolute;
  bottom: 0px;
  right: 20px;
}
.right-option-wrapper-content button{
  position: absolute;
  bottom: 0px;
  left: 20px;
}
.content-nek{
  color: white;;
  text-shadow: 3px 3px 15px black;
  font-family: 'Roboto', sans-serif;
}
.btn-primary{
  background-image: linear-gradient(120deg,#3498db,#8e44ad);
  border: 1px solid white;
  transition: .5s;
  background-size: 180%;
}
.btn-primary:hover{
  background-position: right;
  border: 1px solid white;
}
@media (max-width: 520px){
  .title-nek{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size:small;
    text-transform: uppercase;
    text-shadow: 5px 5px 15px #000;
    
  }
  .content-nek{
    word-break: break-word;
    text-align: center;
    text-indent: -99999px !important;
    visibility: hidden;
  }
  .btn-primary{
    font-size: 10px;
  }
  .left-option-wrapper-content button{
    position: absolute;
    right:40px;
    bottom:15px;

  }
  .right-option-wrapper-content button{
    position: absolute;
    left:40px;
    bottom:15px;

  }
  .carousel-indicators {
  margin-bottom: 0px;}
  .carousel-indicators li{
    width: 12px;
    height: 2px;
  }
  .carousel-control-next-icon, .carousel-control-prev-icon{
    width: 15px;
    height: 15px;
  }
}
.social-media{
  width: 100%;
  text-align: center;
  margin-top: 45px;
}
.social-media ul{
  list-style: none;
  padding-left: 0px;
}
.social-media ul li{
  display: inline-block;
  cursor: pointer;
  padding: 0px 15px;
}
.social-media img{
  height: 35px;
  width: 35px;
  position: relative;
}
.social-media img:hover{
  top: -7px;
  position: relative;
  transition: 1s;
}
.social-media-up{
  margin-top: 33px !important;
}

/* input */
.bbbx{
border-bottom: 2px solid #adadad;
position: relative;
margin: 15px 0px 0px;
border-bottom-width: 0px;
}
.bbbx input{
font-size: 15px;
color: #333;
border: none;
width: 100%;
outline: none;
background: none;
padding: 0px 5px ;
height: 40px ;
}
.left-input-user-wrapper span::after{
content: '';
position: absolute;
width: 95%;
height: 2px;
background:linear-gradient(120deg,#3498db,#8e44ad);
display: flex;
}
.bbbx input{
margin-left: 5px;
}
.bbbx p{
margin-bottom: 0px;
}
.input-tag a{
border: 1px solid white;
border-radius: 20px;
align-items: center;
background-image: linear-gradient(120deg, #3498db, #8e44ad);
color:white;
padding: 0px 8px;
font-weight: 300;

}
.input-tag{
padding: 10px 10px ;
}
.right-input-user-wrapper textarea{
height: 70% !important;
width: 100%;
}
.right-input-user-wrapper i{
margin-top: 9px;
}
.container h2{
text-align: center;
margin:10px 0px;
}
.container p{
overflow: hidden;
}
.container h5 {
  text-align: center;
}

/* NguyenHuuDuc */
/* .form-item-nhd {
margin: 10px;
padding: 0px;
width: 100% !important;
background-size: cover;
background: #ffffff;
} */
.rounded {
height: 200px;
width: 100% !important;
object-fit: cover;
border-radius: .25rem!important;
}
.image-nhd {
text-align: center;
padding: 10px;
}
.image-nhd img {
display: block;
margin: 0px;
}
.hashtag-nhd {
font-size: 15px;
padding: 3px;
/* border: 1px solid #555; */
display: inline-block;
margin-top: 20px;
margin-bottom: 20px;
}
.content-nhd {
font-size: 15px;
max-height: 60px;
line-height: 28px;
overflow: hidden;
margin-bottom: 12px;
}
.content-nhd a {
color: #000;
text-decoration: none;
}