body {
    margin: 0;
    font-family: Noto Sans,Arial,sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #464646;
    text-align: left;
    background-color: #FFC400;
}

.container {
    height: 50px;
    margin: auto;
    background-color: white;
    padding-top: 20px;
}

.wrap {
    padding-top: 100px;
    width: 1400px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px
}

.food {
    width: 15%;
    background-color: white;
    float: left;
    margin: 5px;
    border-radius: 5%;
}

.ava {
    margin: auto;
    text-align: center;
}

.ava img {
    width: 100%;
    border-radius: 5%;
}

.name {
    text-transform: capitalize;
}

.name h3 {
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: black;
    padding: 5px;
    margin: auto;
}

.name h4 {
    font-size: 13px;
    color: #959595;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: auto;
    padding: 5px;
}

.name p {
    padding: 5px;
    font-size: 12px;
    color: #959595;
    text-transform: uppercase;
    margin: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
}

.main {
    padding-top: 40px;
    overflow: hidden;
    clear: both;
}






