body {
    margin: 0;
    font-family: Noto Sans,Arial,sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #464646;
    padding-top: 100px;
    background-color:gray;
    text-align: center;
}

.login {
    width: 550px;
    margin: auto;
    clear: both;
    padding: 30px 0;
}

.container {
    margin: auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 10%;
    padding-top: 10px;
}

.up {
    padding: 10px 0;
    font-size: 15px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    position: relative;
    cursor: pointer;
    border-radius: 3px;
    padding-bottom: 10px;
}

.fab, .fas {
    position: absolute;
    top: 8px;
    left: 10px;
    background-color: #fff;
    border-radius: 50%;
    font-size: 15px;
    padding: 5px;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 25px;
}

.form {
    width: 95%;
    height: 50px;
    padding: 10px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
}

.remember {
    float: left!important;
}

.right {
    float: right;
    text-align: right;
}

a {
    color: #0288d1;
    text-decoration: none;
    background-color: transparent;
}

.btn-log {
    margin-bottom: 5px;
    padding: 6px 0;
    text-transform: uppercase;
}

.btn {
    color: #fff;
    background-color: #0288d1;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid #0288d1;
    border-radius: 6px;
    padding: 10px;
    width: 100%;
}
